# Custom attributes of folder in MacOS 

.DS_store

# Text Pattern

*.txt
*.php

# R Data files

*.Rhistory
*.Rdata

# Configuration files

*.xml
*.html
*.jar

# Executables

*.exe
*.app
*.out

# Large files (more than 50 MB)

Books\ by\ Publications/Implementing\ SAP\ HANA.epub
Books\ by\ Publications/The\ Official\ ABAP\ Reference.pdf
Books\ by\ Publications/ABAP\ Development\ for\ SAP\ HANA.pdf
Books\ by\ Publications/SD-SAP-Practical-Guide.pdf
